
@media (min-width: 992px) and (max-width: 1199px) {

	.how-it-works-description { margin-top: 30px; }
	.how-it-works-description-left { padding-left: 60px; padding-right: 40px; }

	.faq-box-right span { -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }

}

@media (min-width: 768px) and (max-width: 991px) {
	
	nav .nav-logo { float: none; width: auto; text-align: center; }
	nav .nav-logo a { background-position: center center; }
	nav .nav-links { float: none; width: auto; text-align: center; }

	.section-description p { padding: 0; }
	
	.inner-bg { padding-top: 190px; }
	.top-content .text { padding-top: 40px; }
	.top-content .top-button .button-1 { margin-right: 10px; font-size: 18px; }
	.top-content .top-button .button-1 .button-1-right { width: 140px; margin-top: 9px; }
	.top-content .top-button .button-1 .button-1-right .button-1-right-bottom { font-size: 30px; line-height: 30px; }
	.top-content .top-button .button-2 { font-size: 18px; }
	.top-content .top-button .button-2 .button-2-right { width: 116px; margin-top: 10px; }
	.top-content .top-button .button-2 .button-2-right .button-2-right-bottom { font-size: 30px; line-height: 30px; }
	
	.features-center { padding-top: 120px; }
	
	.how-it-works-video { float: none; width: auto; }
	.how-it-works-video iframe { width: 65%; }
	.how-it-works-description { width: 50%; margin-top: 30px; text-align: center; }
	.how-it-works-description-left { padding-left: 15px; padding-right: 15px; }
	
	.screenshot-box img { max-width: 100%; }
	
	.faq-box-right span { font-size: 440px; -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); 
							-webkit-transform: rotate(0deg); transform: rotate(0deg); }

}

@media (max-width: 767px) {
	
	nav { position: static; top: auto; left: auto; width: auto; z-index: auto; }
	nav .nav-logo { float: none; width: auto; }
	nav .nav-links { float: none; width: auto; text-align: center; }
	nav .nav-links a { display: none; width: 100%; margin: 0; padding: 10px 0; }
	nav .nav-links a:last-child { padding-bottom: 20px; }
	nav .nav-links .show-menu { display: block; position: relative; }
	nav .nav-links .show-menu a { display: inline-block; position: absolute; top: -46px; right: 0; width: 32px; padding: 0; z-index: 99; }
	
	.section-description p { padding: 0; }
    
    .inner-bg { padding-top: 60px; }
    .top-content .text { padding-top: 40px; text-align: center; }
    
    .how-it-works-video iframe { width: 90%; }
    .how-it-works-description { margin-top: 30px; text-align: center; }
	.how-it-works-description-left { padding-left: 15px; padding-right: 15px; }
	.how-it-works-description p { margin-bottom: 30px; }
	
	.screenshot-box-left, .screenshot-box-right { text-align: center; }
	.screenshot-box img { max-width: 100%; }
	
	.faq-box-right { display: none; }
	
	.contact-form, .contact-address { text-align: center; }
	
	footer, .footer-copyright { text-align: center; }
	.footer-copyright { padding-bottom: 15px; }

}

@media (max-width: 550px) {

    .subscribe form input { width: 95%; }
    .subscribe form button { width: 95%; margin-top: 10px; }

}

@media (max-width: 499px) {
	
	.top-content .top-button .button-1, .call-to-action-button .button-1 { margin: 0 10px 10px 10px; }
	
	.how-it-works-video iframe { height: 240px; }
	
}

@media (max-width: 350px) {
	
	.how-it-works-video iframe { height: 180px; }
	
}

@media (max-width: 290px) {
	
	.top-content .top-button .button-1, .call-to-action-button .button-1 { margin: 0 0 10px 0; }
	
}


/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	
	/* logo */
    nav .nav-logo a {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 84px 36px !important;
    }
	
}

